// colours

$default-text: #292b2c; // black
$body-background: #f7f7f7; // light gray
$links: #e36767; // red
$white: #fff; // white


// fonts 

$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Susy
$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  gutter-position: outside,
);