/* -------------------------------- 

Components 

-------------------------------- */


@import "../../node_modules/susy/sass/_susy.scss";
@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint";
    
@import "mixins";
@import "variables";


/* -------------------------------- 

Primary style 

-------------------------------- */


body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: rgba($default-text, .7);
	background-color: $body-background;

	&.overflow-hidden {
		/* when primary navigation is visible, the content in the background won't scroll */
		overflow: hidden;
	}
}


html, body {
	height: 100%;
}

*, *:after, *:before {
	box-sizing: border-box;
}
    
a {
	color: $links;
	text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */


.container{
  background-color:$white;
}