<div class="container">
    <header class="">
      <h2><a href="" title="">RWD</a></h2>
      <nav>
        <ul>
          <li><a href="" title="">Home</a></li>
          <li><a href="" title="">About</a></li>
          <li><a href="" title="">Contact</a></li>
        </ul>
      </nav>
    </header><!-- /header -->
    <div class="page-content">
      <section class="latest-posts">
        <h1>Latest tutorials</h1>

         <article>
           <!-- пост блога -->
           <h2><a href="" title="">How to create a blog?</a></h2>
           <p>This shows you how you can create your own blog. 
           <a href="" rel=bookmark>Read more</a></p>
           <footer>
             By zooboole | 7k views
           </footer>
         </article>

         <article>
           <!-- пост блога -->
           <h2><a href="" title="">How to create a blog?</a></h2>
           <p>This shows you how you can create your own blog. 
           <a href="" rel=bookmark>Read more</a></p>
           <footer>
             By zooboole | 7k views
           </footer>
         </article>
      </section><!-- /section -->

      <aside class="popular-posts">
        <h1>Popular</h1>
        <article>
          <!-- пост блога -->
          <h2><a href="" title="">How to create a blog?</a></h2>
          <p>This shows you how you can create your own blog. 
          <a href="" rel=bookmark>Read more</a></p>
          <footer>
            By zooboole | 7k views
          </footer>
        </article>
      </aside><!-- /aside -->
    </div>
</div>